nav{
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ul{
  display: flex;
  list-style: none;
}

li{
  margin: 0 10px;
}

a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}
a:hover {
    background-color: #fff;
    color: #333;
  }

#mainBody {
  font-family: sans-serif;
  position:fixed;
  margin-top: 250px;
  margin-left: 450px;
  /* width:30em;
  height:18em; 
  margin-top: -9em; 
  margin-left: -15em; */
  text-align: center;
  color: rgba(255, 0, 0, 0.664);
  border: 1px solid #ccc;
  background-color: gray;
}

#mainBody p {
  font-size: 50px;
}

